<section class="testimonials py-5">
  <div class="container ">
    <div class="row justify-content-between align-items-center">
      <div class="col-4">
        <h2 class="tmb-4">ماذا يقول عملاؤنا</h2>
      </div>
      <div class="col-8 carousel-container py-5">
        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active  py-5">
              <div class="card-container d-flex justify-content-between">
                <div class="card p-3">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-3">
                      <img src="../../../../assets/images/review-img.png" class="rounded-circle img-fluid mx-auto d-block"
                        width="50" alt="Client">

                    </div>
                    <div class="col-9">
                      <h5 class="mt-2">امير</h5>
                      <p class="text-muted">الرئيس التنفيذي لشركة أكوا</p>
                    </div>
                  </div>
                  <div>
                    <p>"فريق الدعم كان سريع الاستجابة ويقدم لي المساعدة التي كنت بحاجة إليها!"</p>
                  </div>
                </div>
                <div class="card p-3">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-3">
                      <img src="../../../../assets/images/review-img.png" class="rounded-circle img-fluid mx-auto d-block"
                         alt="Client">
                    </div>
                    <div class="col-9">
                      <h5 class="mt-2">أمير</h5>
                      <p class="text-muted">الرئيس التنفيذي لشركة أكوا</p>
                    </div>
                  </div>
                  <div>
                    <p>"فريق الدعم كان سريع الاستجابة ويقدم لي المساعدة التي كنت بحاجة إليها!"</p>
                  </div>
                </div>
                <div class="card p-3">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-3">
                      <img src="../../../../assets/images/review-img.png" class="rounded-circle img-fluid mx-auto d-block"
                         alt="Client">
                    </div>
                    <div class="col-9">
                      <h5 class="mt-2">أمير</h5>
                      <p class="text-muted">الرئيس التنفيذي لشركة أكوا</p>
                    </div>
                  </div>
                  <div>
                    <p>"فريق الدعم كان سريع الاستجابة ويقدم لي المساعدة التي كنت بحاجة إليها!"</p>
                  </div>
                </div>
                <div class="card p-3">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-3">
                      <img src="../../../../assets/images/review-img.png" class="rounded-circle img-fluid img-fluid mx-auto d-block"
                         alt="Client">
                    </div>
                    <div class="col-9">
                      <h5 class="mt-2">أمير</h5>
                      <p class="text-muted">الرئيس التنفيذي لشركة أكوا</p>
                    </div>
                  </div>
                  <div>
                    <p>"فريق الدعم كان سريع الاستجابة ويقدم لي المساعدة التي كنت بحاجة إليها!"</p>
                  </div>
                </div>
                <div class="card p-3">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-3">
                      <img src="../../../../assets/images/review-img.png" class="rounded-circle img-fluid mx-auto d-block"
                         alt="Client">
                    </div>
                    <div class="col-9">
                      <h5 class="mt-2">أمير</h5>
                      <p class="text-muted">الرئيس التنفيذي لشركة أكوا</p>
                    </div>
                  </div>
                  <div>
                    <p>"فريق الدعم كان سريع الاستجابة ويقدم لي المساعدة التي كنت بحاجة إليها!"</p>
                  </div>
                </div>
                <div class="card p-3">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-3">
                      <img src="../../../../assets/images/review-img.png" class="rounded-circle img-fluid mx-auto d-block"
                         alt="Client">
                    </div>
                    <div class="col-9">
                      <h5 class="mt-2">أمير</h5>
                      <p class="text-muted">الرئيس التنفيذي لشركة أكوا</p>
                    </div>
                  </div>
                  <div>
                    <p>"فريق الدعم كان سريع الاستجابة ويقدم لي المساعدة التي كنت بحاجة إليها!"</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">السابق</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">التالي</span>
          </button> -->
        </div>
      </div>
    </div>

  </div>
</section>
