
<section class="section-service py-5" id="">
  <div class="container-fluid">
    <h2 class="section-title">خدامتنا الفريدة</h2>
    <p class="section-description">
      نحن ملتزمون بخدمتك وتقديم أفضل الحلول التقنية في جميع الأوقات، لضمان استمرارية عملك بأعلى مستويات الكفاءة والجودة</p>
      <div class="row py-5">
        <div class="col-lg-4 col-md-4 col-sm-12 py-sm-3">
          <div class="service-item">
            <div class="service-item-icon-container mb-2">
              <img class="service-item-icon"  src="../../../../assets/images/icons/Icon Wrapper.png">
            </div>
            <h3>تخطيط موارد المؤسسات بالكامل</h3>
            <p>حلول  شاملة تربط كافة أقسام شركتك، مما يعزز تدفق العمليات بسلاسة وتحقيق أقصى كفاءة</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 py-sm-3">
        <div class="service-item">
          <div class="service-item-icon-container mb-2">
            <img class="service-item-icon"  src="../../../../assets/images/icons/Share Circle.png">
          </div>
          <h3>تقارير المبيعات المتقدمة</h3>
          <p>حلول  شاملة تربط كافة أقسام شركتك، مما يعزز تدفق العمليات بسلاسة وتحقيق أقصى كفاءة</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 py-sm-3">
      <div class="service-item">
        <div class="service-item-icon-container mb-2">
          <img class="service-item-icon"  src="../../../../assets/images/icons/accoun.png">
        </div>
        <h3>انظمة المحاسبة الذكية</h3>
        <p>حلول  شاملة تربط كافة أقسام شركتك، مما يعزز تدفق العمليات بسلاسة وتحقيق أقصى كفاءة</p>
    </div>
  </div>
  </div>

  </div>
</section>
